.AccountFormContainer__display-flex {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AccountFormContainer {
    background-color: #f2f7ff;
    width: 100%;
    max-width: 330px;
    padding: 30px;
    box-shadow: 5px 5px 5px gray;
}

.AccountFormContainer__logo {
    width: 80px;
    height: 80px;
    display: block;
    margin: auto;
    margin-bottom: 16px;
}

.AccountFormContainer__icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.AccountFormContainer__input-container {
    display: flex;
    border-bottom: 3px solid #51adcf;
    padding-bottom: 5px;
}

.AccountFormContainer__input-container > input,
.AccountFormContainer__input-container > input:focus {
    background-color: #f2f7ff;
    border: none;
}

.AccountFormContainer__input-container > input:focus {
    outline: none;
}

.AccountFormContainer__italic {
    font-style: italic;
}
