#main_table{
    border:solid 1px black;
}
.main_content{
    background-color: lightblue;
    margin : 0 px;
    padding:3px
}

#client_detail{
    text-align:left;
    padding-top:5px;
    margin:5px
}

#create_client_form{
    margin-top: 15px;
    padding: 0
    
}

.header{
    display:flex;
    justify-content: space-between;
    padding:5px
}

.search_input{
    float: 0.2em;
    height:2em;
    padding:5px;
    border-radius:6px;
}

.add_button{
    width:100px;
    margin-right:1em;
    border:1px solid black;
    border-radius:6px;
}

.pagination {
    display: flex;
    justify-content:center;
    list-style: none;
    cursor: pointer;
  }
  
  .pagination a {
    padding: 5px 10px;
    border-radius: 5px;
    margin:5px;
    /* border: 1px solid #6c7ac9; */
    color: #6c7ac9;
  }
  
  .pagination__link {
    font-weight: bold;
  }
  
  .pagination__link--active a {
    color: #fff;
    background: #cecfd3;
  }
  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    /* border: 1px solid rgb(198, 197, 202); */
  }
  .pagination__li{
      border:none
  }

  .black{
      color: black;
  }
  .red{
      color: red;
  }

  .green{
      color: lightgreen;
  }
.counterRow{
    padding-left: 10px;
    padding-right:  10px;
}

  /* .tag{
      border:solid 1px black;
      border-radius: 5px;
  } */
  
#editClient{
    margin-bottom: 20px

}