.ConsultantPerformance__top-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.ConsultantPerformance__consultant-info-table,
.ConsultantPerformance__appointment-table,
.ConsultantPerformance__policy-table {
    border: 1px solid lightgray;
    box-shadow: 4px 4px 4px gray;
    margin-bottom: 16px;
}

.ConsultantPerformance__consultant-info-table > tbody > tr:nth-child(odd),
.ConsultantPerformance__appointment-table > tbody > tr:nth-child(odd),
.ConsultantPerformance__policy-table > tbody > tr:nth-child(odd) {
    background-color: #cce5ff;
}

.ConsultantPerformance__consultant-info-table {
    width: auto;
}

.ConsultantPerformance__consultant-info-table > thead {
    text-align: center;
}

.ConsultantPerformance__consultant-info-table td:first-child {
    width: 240px;
    padding-left: 8px;
}

.ConsultantPerformance__consultant-info-table td:last-child {
    padding-right: 8px;
}

.ConsultantPerformance__appointment-table {
    text-align: center;
    width: 500px;
}

.ConsultantPerformance__policy-table {
    text-align: center;
    width: auto;
    min-width: 700px;
}
