
#dashboard{
    display:flex;
}

#header{
    display:flex;
    justify-content: center;
}

#header .select {
    padding : 3px 15px;
    margin:0px 10px;
    font-size: 20px;
    border:solid #2A579A 1px;
    border-radius: 5px;
    color:#2A579A;
}

.select:hover{
    cursor: pointer
}

.dateInput{
    margin-left:5px;
        width: 50px;
        text-align: center;
}

.dateInput2{
    width: 35px;
    text-align: center;
}

.searchIcon{
    margin-left:10px;
    font-size: 5px;
}
