.Filter {
    position: relative;
}

.Filter:focus {
    outline: none;
}

.Filter__top {
    padding: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: #9ad3bc;
    box-shadow: 2px 2px 2px gray;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.Filter__icon {
    margin-left: 3px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.Filter__icon svg {
    pointer-events: none;
}

.Filter__dropdown-list {
    transition: 0.3s;
    padding: 8px;
    z-index: 2;
    background-color: white;
    position: absolute;
    width: 100%;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid lightgray;
}

.Filter__dropdown-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.Filter__dropdown-list input {
    width: 16px;
    height: 16px;
}

.Filter__dropdown-list-checkbox {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
