.List__table {
    display: flex;
    justify-content: space-around;
    width: 100%;
    box-shadow: 4px 4px 4px gray;
    margin-bottom: 16px;
}

.List__table tbody > tr:nth-child(odd) {
    background-color: #cce5ff;
}

.List__subordinate-list-table-header {
    width: 33.33%;
}

.List__client-list-table-header {
    width: 25%;
}

.List__table-header > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.List__table > table {
    margin: 0;
}

.List__table th svg {
    width: 20px;
    height: 20px;
}

#tableHeader{
    cursor: pointer;
}