.LoadingPage {
    width: calc(100% - 4px);
    height: calc(100% - 68px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    overflow: hidden;
    position: absolute;
    top: 68px;
    left: 4px;
}

.LoadingPage__Login {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.wave {
    width: 200%;
    height: 200%;
    position: absolute;
    top: -25%;
    left: 50%;
    margin-left: -90%;
    margin-top: -95%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.75);
    animation: spin 15s infinite linear;
}

.LoadingPage__loader {
    border: 32px solid #f3f3f3;
    border-radius: 50%;
    border-top: 32px solid #3498db;
    width: 240px;
    height: 240px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.LoadingPage__position_relative {
    position: relative;
}

.LoadingPage__center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
