.MyButton {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 8px;
    font-size: 16px;
    box-shadow: 2px 2px 2px gray;
    font-weight: 600;
}

.MyButton__icon-bubble {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    height: 24px;
    width: 24px;
    font-size: 24px;
    padding: 1px;
}

.MyButton__blue {
    background-color: #cce5ff;
    color: #004085;
}

.MyButton__icon-blue-border {
    border: 3px solid #004085;
}

.MyButton__yellow {
    background-color: #f2d974;
    color: #393e46;
}

.MyButton__icon-gray-border {
    border: 3px solid #393e46;
}

.MyButton__red {
    background-color: #f05454;
    color: white;
}

.MyButton__lightblue {
    background-color: #17a4b9;
    color: white;
}

.MyButton__icon-white-border {
    border: 3px solid white;
}

.MyButton__container {
    display: flex;
    padding: 0 16px;
    margin-bottom: 16px;
}

.MyButton__margin-right {
    margin-right: 20px;
}
