.MyForm,
.MyForm form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.MyForm label,
.MyForm input {
    margin-right: 16px;
}

.MyForm__number {
    width: 80px;
}

.MyForm .radio-input {
    margin-right: 5px;
}

.MyForm .react-datepicker-wrapper input {
    width: 120px;
}

.MyForm__row {
    margin-bottom: 8px;
}

.MyForm__row select {
    box-sizing: border-box;
    height: 30px;
    margin-right: 16px;
}

.MyForm_submit-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
