.NotificationsPage__top-container {
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
}

.NotificationsPage__main-container {
    width: 500px;
}

.NotificationsPage__date-container {
    margin-bottom: 16px;
    border: 1px solid gray;
    box-shadow: 4px 4px 4px gray;
}

.NotificationsPage__date-container > div:first-child {
    border: 1px solid gray;
    background-color: #cce5ff;
}

.NotificationsPage__date-container h5 {
    margin: 4px 0;
}

.NotificationsPage__row {
    display: flex;
    border: 1px solid gray;
    padding: 8px;
    justify-content: space-between;
}

.NotificationsPage__delete-icon {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
}

.NotificationsPage__text-align-left {
    text-align: left;
}
