.PageContainer {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PageContainer__top-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.PageContainer__details-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.PageContainer__details-table {
    border: 1px solid lightgray;
    box-shadow: 4px 4px 4px gray;
    margin-bottom: 16px;
}

.PageContainer__details-table tr:nth-child(odd) {
    background-color: #cce5ff;
}

.PageContainer__details-table td:first-child {
    width: 180px;
    padding-left: 8px;
}

.PageContainer__details-table td:last-child {
    padding-right: 8px;
}

.PageContainer__today-date {
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.PageContainer__today-date > time {
    margin-left: 8px;
}

.PageContainer__details-table.PageContainer__client-details-table
    td:first-child {
    width: 160px;
}

.PageContainer__number-of-policies {
    display: flex;
    align-items: center;
}

.PageContainer__change-password-form {
    flex: 1;
    border: solid #2a579a 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    background: linear-gradient(
        338deg,
        rgba(42, 87, 154, 0.1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    align-items: center;
    justify-content: center;
    padding: 16px;
}
