.PrivateRoute__container {
    transition: 0.3s;
    width: calc(100vw - 64px);
    height: 100vh;
    position: absolute;
    left: 64px;
    padding: 76px 24px 0;
}

.PrivateRoute__right-move {
    left: 240px;
}
