.date-picker-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Add_Schedule_form_Container {
    width: 1000px;
    height: 400px;
}

.add-schedule-form {
    padding: 50px;
    width: 1000px;
    height: 500px;
}

.schedule-modal {
    background-color: white;
    width: 1000px;
    height: 500px;
    overflow: initial;
    position: absolute;
    right: -110px;
    top: 100px;
}

.schedule__table {
    border: 1px solid lightgray;
    box-shadow: 4px 4px 4px gray;
}

.schedule__table tbody > tr:nth-child(odd) {
    background-color: #cce5ff;
}

.checkingListBtn {
    height: 1.5em;
    width: 1.5em;
}

.dropdownBtn,
.dropdownBtn:hover,
.dropdownBtn:not(:hover),
.dropdownBtn:focus,
.dropdownBtn:active {
    background-color: transparent !important;
    color: black !important;
    border-color: transparent !important;
    will-change: none !important;
    transform: unset !important;
    outline: none !important;
    box-shadow: none !important;
}

.th_meetFrequency {
    width: 150px !important;
}

.schedule__td {
    text-align: center;
    vertical-align: middle !important;
}

.checkingList_td {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px !important;
}

.schedule__addScheduleBtn__container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 24px;
}

.schedule__body {
    margin-right: 0px;
}

.submitBtnArea {
    margin-top: 20px;
}

.dateAndTimeDiv {
    padding-bottom: 10px;
}

/* .date-picker {
    display: flex;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;

} */
