.SearchBar {
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.SearchBar input,
.SearchBar input:focus {
    border-style: none;
    outline: none;
}

.SearchBar__text-input,
.SearchBar__text-input:focus {
    width: 150px;
}

.SearchBar__id-input,
.SearchBar__id-input:focus {
    width: 30px;
    text-align: left;
}

.SearchBar__year-input,
.SearchBar__year-input:focus {
    width: 40px;
    text-align: right;
}

.SearchBar__month-input,
.SearchBar__month-input:focus {
    width: 40px;
    text-align: left;
}

.SearchBar__form input[type='number']::-webkit-inner-spin-button,
.SearchBar__form input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.SearchBar__icon {
    filter: invert(76%) sepia(49%) saturate(1%) hue-rotate(354deg)
        brightness(90%) contrast(91%);
    width: 28px;
    height: 28px;
}

.SearchBar__form {
    display: flex;
    align-items: center;
}

.SearchBar__form-label {
    margin: 0;
    padding: 0 4px;
    font-weight: bold;
}

.SearchBar__ConsultantPerformance-icon {
    width: 20px;
    height: 20px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(204deg)
        brightness(104%) contrast(104%);
}

.SearchBar__ConsultantPerformance-btn {
    padding: 3px 6px;
}
