

#settingMain{
    display:flex;
}

#subMenu{
width: 15%;
display:grid;
height:min-content;

}
#subMenu .select {
text-align: center;
padding:5px 0px;
font-size: 20px ;
border:solid #2A579A 1px;
margin:2px 5px;
color:#2A579A;
box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

#settingSelect{
  
   width:85%;
    display:grid;
    border : solid #2A579A 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    background: linear-gradient(338deg, rgba(42,87,154,0.1) 0%, rgba(255,255,255,1) 100%);
}

#submit{
    border: none;
background-color: transparent;
}

#rowTag{
    border-bottom: solid 1px black;
    margin-bottom: 5px;
}
.tags{
    display:flex;
    text-align: center;
    font-size: 17px;
 
}

.tagName{
    width:33.3%;
    height:2em;
}
.tagPeriod{
    width:33%;
    height:2em;
}
.tagColor{
    width:13%;
    height:2em;
}

.tagColor:hover{
    cursor:pointer
}

.tagDelete{
    width:20%;
    height:2em;
    place-items: left;
}
.tagDelete:hover{
    cursor:pointer
}

.colorDisplay{
    border:solid black 1px;
    border-radius: 10px;
    padding:0.7em
}

.PageContainer__details-page{
    margin-top:15px;
}