.Sidenav {
    text-align: left;
    height: 100vh;
    width: 64px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2a579a;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 25px;
    overflow: hidden;
    box-shadow: 4px 4px 4px gray;
    z-index: 1;
}

.Sidenav__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0;
}

.Sidenav__icon {
    width: 32px;
    height: 32px;
    margin: 0 16px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(204deg)
        brightness(104%) contrast(104%);
}

.Sidenav a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.Sidenav a:hover,
.Sidenav .active {
    background-color: #1c3966;
}

.Sidenav__expanded {
    width: 240px;
}

.Sidenav__toggle-btn {
    cursor: pointer;
}

.Sidenav__top {
    background-color: #2a579a;
    height: 64px;
}

.Sidenav__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sidenav__notification-icon-container {
    position: relative;
}

.Sidenav__notifications-count-unread {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    background-color: red;
    border-radius: 50%;
    padding: 1px;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    top: 0px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
