.TopBar {
    background-color: #2a579a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 64px;
    height: 64px;
    width: calc(100vw - 64px);
    box-sizing: border-box;
    color: white;
    z-index: 1;
    padding: 0 12px;
    box-shadow: 4px 4px 4px gray;
    transition: 0.3s;
}

.TopBar h6,
.TopBar h5,
.TopBar h4,
.TopBar h3,
.TopBar h2 {
    margin: 0;
}

.TopBar h4 {
    font-style: italic;
    font-family: 'Black Ops One', cursive;
    color: #f8bd7f;
}

.TopBar__logo,
.TopBar__icon {
    width: 32px;
    height: 32px;
}

.TopBar__margin-right {
    margin-right: 12px;
}

.TopBar__icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(204deg)
        brightness(104%) contrast(104%);
}

.TopBar__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 12px;
}

.TopBar__right-move {
    left: 240px;
}

.TopBar__notifications-container {
    position: relative;
    outline: none;
}

.TopBar__notification-list {
    position: absolute;
    width: 200px;
    top: 32px;
    left: -84px;
    border: 1px solid gray;
    background-color: white;
    color: black;
    text-align: left;
    z-index: 2;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.2);
}

.TopBar__notification-row {
    display: flex;
    border: 1px solid gray;
    padding: 8px;
}

.TopBar__bold {
    font-weight: bold;
}

.TopBar__notification-delete-icon {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
}

.TopBar__notifications-count-unread {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    background-color: red;
    border-radius: 50%;
    padding: 1px;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TopBar__notification-list h5 {
    padding: 6px;
    text-align: center;
    border: 1px solid gray;
    background-color: #cce5ff;
}

.TopBar__notification-list-bottom {
    border: 1px solid gray;
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

.TopBar__notification-list-bottom > div {
    padding: 4px;
    cursor: pointer;
    color: #0056b3;
    border: 1px solid gray;
    font-weight: bold;
}
